/* -- Fonts -- */

@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans+KR:wght@100;200;300;400;500;600;700&display=swap');

@font-face {
  font-family: 'brightfate';
  src: url('../assets/fonts/Brightfate.otf');
}

/* -- General -- */

:root {
  /* brand colors */
  --bg-primary: #000;
  --text-primary: #f2f2f2;
  --accent-primary: #3700b3;
  --accent-secondary: #03dac5;
  --text-background: #3600b384;
  --modal-background: #000000cc;

  /* font families */
  --font-plex-sans: 'IBM Plex Sans KR', sans-serif;
  --font-supervoid: 'brightfate', sans-serif;

  /* font sizes */
  --extraSmall: 1rem;
  --small: 1.5rem;
  --medium: 1.8rem;
  --large: 2.25rem;
  --extraLarge: 3.5rem;
  --titleLarge: 5.5rem;
}

html {
  scroll-behavior: smooth;
  box-sizing: border-box;
  line-height: normal;
}

body {
  font-family: var(--font-plex-sans);
  background: var(--bg-primary);
  color: var(--bg-primary);
}

.site-background {
  position: fixed;
  width: 100vw;
  height: 100vh;
}

.site-background img {
  width: 100%;
  height: 100%;
}

h1,
h2,
h3,
h4 {
  font-family: var(--font-supervoid);
  text-transform: uppercase;
  margin: 0;
}

h2 {
  font-size: var(--large);
  text-align: center;
  line-height: normal;
  padding: 2rem;
}

h3 {
  font-size: var(--small);
  text-align: center;
}

li {
  list-style-type: none;
}

a {
  text-decoration: none;
  color: var(--text-primary);
}

p {
  margin: 0;
}

p,
li,
a,
button {
  font-weight: 300;
  letter-spacing: 0.1rem;
  text-transform: lowercase;
}

.mobile {
  display: block;
}

/* -- Hero Section -- */

.hero {
  position: relative;
  height: 100vh;
}

.hero-nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  top: -102px;
  z-index: 3;
  opacity: 0;
  background: var(--bg-primary);
  width: 100%;
  transition: all 0.4s ease;
}

.hero-nav.show {
  top: 0;
  opacity: 1;
}

.hero-nav img {
  width: 6rem;
  padding: 1rem;
}

.hero-nav .desktop-nav {
  display: none;
  font-size: var(--medium);
}

.hamburger {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background: var(--bg-primary);
  padding: 1rem;
  height: 2rem;
  width: 2rem;
  cursor: pointer;
}

.hamburger .top {
  transform: translateY(-2.5px);
}

.hamburger .bottom {
  transform: translateY(2.5px);
}

.hamburger .top,
.hamburger .bottom {
  background: var(--text-primary);
  height: 5px;
  width: 1.8rem;
  border-radius: 1px;
  transition: all 0.4s ease;
}

.hamburger.active .top {
  transform: translateY(2.5px) rotate(45deg);
}

.hamburger.active .bottom {
  transform: translateY(-2.5px) rotate(-45deg);
}

.mobile-nav {
  position: fixed;
  top: 0;
  z-index: -1;
  opacity: 0;
  background: var(--bg-primary);
  height: 100vh;
  width: 100vw;
  transform: translateY(40px);
  transition: all 0.4s ease;
}

.mobile-nav.active {
  z-index: 2;
  display: block;
  opacity: 1;
  transform: translateY(0px);
}

.mobile-nav ul {
  margin: 6rem 0;
  padding: 1rem;
}

.mobile-nav ul li {
  font-size: var(--large);
  margin: 2rem 0;
}

.mobile-nav ul a {
  font-weight: 400;
}

.hero-info {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  width: 100%;
}

.hero-info h1 {
  transition: 0.4s;
  font-size: var(--extraLarge);
}

.hero-info p {
  font-size: var(--small);
  margin: 0 auto 3.5rem auto;
  width: 95%;
  max-width: 27rem;
}

.hero-info a {
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--bg-primary);
  border: 2px solid var(--bg-primary);
  text-decoration: none;
  -webkit-text-decoration: none;
}

.hero-info .hero-cta-container button {
  color: var(--text-primary);
  background: var(--bg-primary);
  border: 2px solid var(--bg-primary);
  height: 84px;
  max-width: 304px;
  cursor: pointer;
}

.hero-info a,
.hero-info button {
  font-size: var(--small);
  margin: 0.5rem auto;
  height: 5rem;
  width: 80%;
  max-width: 300px;
  border-radius: 3rem;
}

.promo-reel-container {
  visibility: hidden;
  position: fixed;
  z-index: -1;
  opacity: 0;
  background-color: var(--bg-primary);
  width: 100%;
  height: 100%;
  transition: all 0.4s ease;
}

.promo-reel-container.active {
  visibility: visible;
  z-index: 3;
  opacity: 1;
}

.promo-reel-container iframe {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  height: 100%;
}

.promo-reel-container .close {
  position: absolute;
  top: 1.5rem;
  right: 0;
}

.promo-reel-container .close .top,
.promo-reel-container .close .bottom {
  width: 2.5rem;
}

/* -- Portfolio -- */

.portfolio {
  padding-top: 6rem;
}

.projects {
  display: grid;
  grid-template-columns: 1fr;
}

.project-container {
  position: relative;
  height: 100%;
}

.project-container video,
.project-container img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.project-container .project-overlay {
  position: absolute;
  bottom: 0;
  right: 0;
  background-color: var(--modal-background);
  color: var(--text-primary);
  transition: 0.3s;
}

.project-container .project-overlay h3 {
  text-align: end;
  padding: 0.75rem 0.75rem 0.5rem;
}

.project-modal {
  position: fixed;
  display: flex;
  z-index: -1;
  top: 0;
  left: 0;
  opacity: 0;
  width: 100%;
  height: 100%;
  background-color: var(--modal-background);
  transition: all 0.4s ease;
}

.project-modal.active {
  z-index: 3;
  display: flex;
  opacity: 1;
}

.modal-content {
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 3rem;
  color: var(--text-primary);
  background-color: var(--bg-primary);
  margin: auto;
  padding: 3rem;
  border: 2px solid var(--text-primary);
  width: 80%;
  max-width: 625px;
  overflow: auto;
}

.modal-info {
  height: 8rem;
}

.modal-content video,
.modal-content img,
.modal-content .modal-info {
  width: 100%;
}

.modal-info p {
  font-size: var(--extraSmall);
  margin-bottom: 0.75rem;
}

.modal-info h3 {
  text-align: left;
  margin-bottom: 1rem;
  padding: 0;
}

.modal-date {
  padding-bottom: 3rem;
}

.modal-label {
  font-weight: 400;
}

.close {
  position: absolute;
  top: 9px;
  right: 0;
  padding: 1rem;
  cursor: pointer;
}

.close .top,
.close .bottom {
  background: var(--text-primary);
  height: 5px;
  width: 1.8rem;
  border-radius: 1px;
}

.close .top {
  transform: translateY(2.5px) rotate(45deg);
}

.close .bottom {
  transform: translateY(-2.5px) rotate(-45deg);
}

/* About */

.about {
  margin: auto;
  padding: 8rem 0;
  width: 90%;
  max-width: 25rem;
}

.about p {
  font-size: var(--extraSmall);
  text-align: center;
  margin: auto;
  margin-bottom: 2rem;
}

.about p:nth-of-type(1) {
  width: 21.6rem;
}

.about .featured-text {
  text-transform: uppercase;
}

.about-contact-icons {
  display: flex;
  justify-content: center;
  gap: 3rem;
  margin: 1rem;
}

.about-contact-icons svg {
  width: 1.5rem;
}

/* Desktop */
@media (min-width: 768px) {
  /* -- General --  */

  h2 {
    font-size: var(--extraLarge);
  }

  h3 {
    font-size: var(--medium);
  }

  .mobile {
    display: none;
  }

  /* -- Hero -- */

  .hero-nav img {
    width: 8rem;
    padding: 1rem 2rem;
  }

  .hero-nav .desktop-nav {
    display: flex;
    justify-content: space-between;
    padding: 1rem 2rem;
    margin: 0;
    gap: 3rem;
  }

  .hamburger {
    display: none;
  }

  .hero-info h1 {
    font-size: var(--titleLarge);
  }

  .hero-info p {
    font-size: var(--medium);
    max-width: 47rem;
  }

  .hero-cta-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }

  .hero-info button,
  .hero-info a {
    font-size: var(--medium);
    margin: 0.5rem;
    width: 19rem;
  }

  .promo-reel-container iframe {
    width: 80%;
  }

  .promo-reel-container .close {
    top: 2rem;
    right: 1rem;
  }

  .promo-reel-container .close .top,
  .promo-reel-container .close .bottom {
    width: 3rem;
  }

  /* -- Portfolio -- */

  .portfolio {
    padding-top: 9rem;
  }

  .projects {
    grid-template-columns: repeat(2, 1fr);
  }

  .project-container {
    cursor: pointer;
  }

  .project-container .project-overlay h3 {
    padding: 1rem 1rem 0.66rem;
  }

  .modal-content {
    padding: 4rem;
  }

  .modal-info p {
    font-size: var(--small);
  }

  /* About */

  .about {
    padding: 4rem 0;
    max-width: 42rem;
  }

  .about p {
    font-size: var(--small);
    margin-bottom: 2rem;
  }

  .about p:nth-of-type(1) {
    width: 41.7rem;
  }

  .about-contact-icons {
    display: flex;
    justify-content: center;
    gap: 4rem;
    margin: 1rem;
  }

  .about-contact-icons svg {
    width: 2rem;
    transition: all 0.25s ease-in-out;
  }
}

/* Large Desktop */
@media (min-width: 1440px) {
  /* Portfolio */

  .projects {
    margin: auto;
    max-width: 1440px;
  }

  /* About */

  .about {
    padding: 8rem;
    max-width: 61rem;
  }

  .about p:nth-of-type(1) {
    width: initial;
  }

  .about p:nth-of-type(2) {
    width: 62rem;
  }
}
