/* Fonts */

@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans+KR:wght@100;200;300;400;500;600;700&display=swap');

@font-face {
  font-family: 'brightfate';
  src: url('../assets/fonts/Brightfate.otf');
}

/* General */

:root {
  --color-black: #000100;
  --color-white: #f2f2f2;
  --color-grey: #9b9b9b;
  --color-purple: #3700b3;
  --color-red: #920104;
  --color-green: #03dac5;
  --color-faded-black: #000000cc;
  --color-faded-purple: #3600b384;
  --color-dark-purple: #330737;
  --color-red-gradient: linear-gradient(
    135deg,
    var(--color-red) 20%,
    var(--color-dark-purple) 100%
  );

  --font-plex-sans: 'IBM Plex Sans KR', sans-serif;
  --font-supervoid: 'brightfate', sans-serif;

  --extraSmall: 1rem;
  --small: 1.5rem;
  --medium: 1.8rem;
  --large: 2.25rem;
  --extraLarge: 3.5rem;
  --titleLarge: 5.5rem;
}

html,
body {
  padding: 0;
  margin: 0;
}

html {
  scroll-behavior: smooth;
  box-sizing: border-box;
  line-height: normal;
}

body {
  font-family: var(--font-plex-sans);
  background: var(--color-black);
  color: var(--color-white);
}

body[data-overlay-displayed='true'] {
  overflow-y: hidden;
}

h1,
h2,
h3,
h4 {
  font-family: var(--font-supervoid);
  text-transform: uppercase;
  margin: 0;
}

h2 {
  font-size: var(--large);
  text-align: center;
  line-height: normal;
  padding: 2rem;
}

@media (min-width: 768px) {
  h2 {
    font-size: var(--extraLarge);
  }
}

h3 {
  font-size: var(--small);
  text-align: center;
}

@media (min-width: 768px) {
  h3 {
    font-size: var(--medium);
  }
}

p,
li,
a,
button {
  font-family: inherit;
  font-weight: 300;
  letter-spacing: 0.1rem;
  text-transform: lowercase;
}

p {
  margin: 0;
}

li {
  list-style-type: none;
}

a {
  text-decoration: none;
  color: var(--color-white);
}

img {
  object-fit: cover;
}

figure {
  margin: 0;
}

.supervoid-cta {
  margin: 0.5rem auto;
  height: 5rem;
  width: 65%;
  max-width: 18rem;
  font-size: var(--small);
  color: var(--color-white);
  background: var(--color-red-gradient);
  border: none;
  border-radius: 3rem;
  cursor: pointer;
}

@media (min-width: 768px) {
  .supervoid-cta {
    font-size: var(--medium);
    height: 5.25rem;
    transition: all 0.25s ease;
  }
}

@media (min-width: 768px) {
  .supervoid-cta:hover {
    transform: translateY(-2px);
  }
}

/* Scrollbar width */
::-webkit-scrollbar {
  width: 8px;
}

/* Track */
::-webkit-scrollbar-track {
  background: var(--color-black);
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: var(--color-white);
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: var(--color-white);
}

/* Hero Section */

.hero {
  position: relative;
  height: 100vh;
  background: var(--color-black);
}

.hero-background-image {
  width: 100%;
  max-width: 50rem;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  filter: brightness(0.5);
  border-radius: 20%;
}

.hero-nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  position: fixed;
  top: -102px;
  z-index: 3;
  opacity: 0;
  background: var(--color-black);
  transition: all 0.4s ease;
}

.hero-nav.show {
  top: 0;
  opacity: 1;
}

.hero-nav img {
  width: 6rem;
  padding: 0 1rem;
}

@media (min-width: 768px) {
  .hero-nav img {
    width: 8rem;
  }
}

.hero-nav .desktop-nav {
  display: none;
  font-size: var(--medium);
}

@media (min-width: 768px) {
  .hero-nav .desktop-nav {
    display: flex;
    justify-content: space-between;
    padding: 1rem 2rem;
    margin: 0;
    gap: 3rem;
  }
}

@media (min-width: 768px) {
  .desktop-nav a:hover {
    transition: all 0.25s ease;
    color: var(--color-red);
  }
}

.hamburger {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 1rem;
  height: 2rem;
  width: 2rem;
  cursor: pointer;
}

@media (min-width: 768px) {
  .hamburger {
    display: none;
  }
}

.hamburger .top {
  transform: translateY(-2.5px);
}

.hamburger .bottom {
  transform: translateY(2.5px);
}

.hamburger .top,
.hamburger .bottom {
  height: 5px;
  width: 1.8rem;
  background: var(--color-white);
  border-radius: 1px;
  transition: all 0.4s ease;
}

.hamburger.active .top {
  transform: translateY(2.5px) rotate(45deg);
}

.hamburger.active .bottom {
  transform: translateY(-2.5px) rotate(-45deg);
}

.mobile-nav {
  position: fixed;
  top: 0;
  z-index: -1;
  height: 100vh;
  width: 100vw;
  background: var(--color-black);
  transform: translateY(40px);
  transition: all 0.4s ease;
  opacity: 0;
}

.mobile-nav.active {
  z-index: 2;
  display: block;
  opacity: 1;
  transform: translateY(0px);
}

.mobile-nav ul {
  margin: 6rem 0;
  padding: 1rem;
}

.mobile-nav ul li {
  font-size: var(--large);
  margin: 2rem 0;
}

.mobile-nav ul a {
  font-weight: 400;
}

.hero-info {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  width: 100%;
}

.hero-info img {
  width: 95%;
  max-width: 52rem;
}

.hero-info h1 {
  margin: 0 auto 2rem auto;
  width: 95%;
  max-width: 50rem;
  font-family: var(--font-plex-sans);
  font-size: var(--small);
  text-transform: lowercase;
  font-weight: 300;
  letter-spacing: 0.1rem;
  text-shadow: 1px 1px 0 var(--color-black);
}

@media (min-width: 768px) {
  .hero-info h1 {
    font-size: var(--medium);
  }
}

.promo-reel-container {
  visibility: hidden;
  position: fixed;
  z-index: -1;
  opacity: 0;
  background-color: var(--color-black);
  width: 100%;
  height: 100%;
  transition: all 0.4s ease;
}

.promo-reel-container.active {
  visibility: visible;
  z-index: 100;
  opacity: 1;
}

.promo-reel-container iframe {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  height: 100%;
}

@media (min-width: 768px) {
  .promo-reel-container iframe {
    width: 80%;
  }
}

.promo-reel-container .close {
  position: absolute;
  top: 1.5rem;
  right: 0;
}

@media (min-width: 768px) {
  .promo-reel-container .close {
    top: 2rem;
    right: 1rem;
  }
}

.promo-reel-container .close .top,
.promo-reel-container .close .bottom {
  width: 2.5rem;
}

@media (min-width: 768px) {
  .promo-reel-container .close .top,
  .promo-reel-container .close .bottom {
    width: 3rem;
  }
}

/* Portfolio */

.portfolio {
  padding-top: 6rem;
}

@media (min-width: 768px) {
  .portfolio {
    padding-top: 9rem;
  }
}

.projects {
  display: grid;
  grid-template-columns: 1fr;
  margin: auto;
  max-width: 1440px;
}

@media (min-width: 768px) {
  .projects {
    grid-template-columns: repeat(2, 1fr);
  }
}

.project-container {
  position: relative;
  height: 100%;
}

@media (min-width: 768px) {
  .project-container {
    cursor: pointer;
  }
}

.project-image-container {
  position: relative;
  width: 100%;
  height: 0;
  padding-top: 50%;
  background-image: url('../assets/images/loading.gif');
  background-repeat: no-repeat;
  background-position: center;
  background-size: 10%;
}

.project-image-container img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.project-container .project-overlay {
  position: absolute;
  bottom: 0;
  right: 0;
  background-color: var(--color-faded-black);
  color: var(--color-white);
  transition: all 0.4s ease;
}

.project-container .project-overlay h3 {
  text-align: end;
  padding: 0.75rem 0.75rem 0.5rem;
}

@media (min-width: 768px) {
  .project-container .project-overlay h3 {
    padding: 1rem 1rem 0.66rem;
  }
}

.project-modal {
  position: fixed;
  display: flex;
  z-index: -1;
  top: 0;
  left: 0;
  opacity: 0;
  width: 100%;
  height: 100%;
  background-color: var(--color-faded-black);
  transition: all 0.4s ease;
  overflow: auto;
}

.project-modal.active {
  z-index: 100;
  opacity: 1;
}

.modal-content {
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 3rem;
  color: var(--color-white);
  background-color: var(--color-black);
  margin: auto;
  padding: 2rem 3rem 5rem;
  border: 2px solid var(--color-white);
  width: 80%;
  max-width: 625px;
  overflow: auto;
}

@media (min-width: 768px) {
  .modal-content {
    padding: 3rem 4rem 6rem;
  }
}

.modal-content img,
.modal-info {
  width: 100%;
}

.modal-content img {
  user-select: none;
}

.modal-info {
  height: 8rem;
}

.modal-info h3 {
  text-align: left;
  margin-bottom: 1rem;
  padding: 0;
}

.modal-info p {
  font-size: var(--extraSmall);
  color: var(--color-grey);
  margin-bottom: 0.75rem;
}

@media (min-width: 768px) {
  .modal-info p {
    font-size: var(--small);
  }
}

.modal-info .modal-label {
  color: var(--color-white);
  font-weight: 400;
}

.modal-description {
  padding-bottom: 3rem;
}

.close {
  position: absolute;
  top: 9px;
  right: 0;
  padding: 1rem;
  cursor: pointer;
}

.close .top,
.close .bottom {
  background: var(--color-white);
  height: 5px;
  width: 1.8rem;
  border-radius: 1px;
}

.close .top {
  transform: translateY(2.5px) rotate(45deg);
}

.close .bottom {
  transform: translateY(-2.5px) rotate(-45deg);
}

.navigate-left,
.navigate-right {
  position: absolute;
  top: 50%;
  cursor: pointer;
}

.navigate-left {
  left: 1%;
}

@media (min-width: 768px) {
  .navigate-left {
    left: 2%;
  }
}

.navigate-right {
  right: 1%;
}

@media (min-width: 768px) {
  .navigate-right {
    right: 2%;
  }
}

.navigate-left.hide,
.navigate-right.hide {
  display: none;
}

.navigate-left svg,
.navigate-right svg,
.rentals-description svg {
  fill: var(--color-white);
}

.navigate-right svg {
  transform: rotate(180deg);
}

/* About */

.about {
  margin: auto;
  padding: 6rem 0;
  width: 95%;
  max-width: 80rem;
}

@media (min-width: 768px) {
  .about {
    padding: 8rem 0;
  }
}

.about p {
  margin: auto;
  margin-bottom: 1rem;
  font-size: var(--extraSmall);
  text-align: center;
  color: var(--color-grey);
}

@media (min-width: 768px) {
  .about p {
    font-size: var(--small);
  }
}

.about .featured-text {
  text-transform: uppercase;
}

.about .email {
  margin: 0;
  color: var(--color-white);
}

.about-contact-info {
  display: flex;
  justify-content: center;
  gap: 3rem;
  margin: 1.5rem 0 4rem;
}

@media (min-width: 768px) {
  .about-contact-info {
    gap: 4rem;
  }
}

.about-contact-info svg {
  width: 1.5rem;
  fill: var(--color-white);
  transition: all 0.25s ease;
}

@media (min-width: 768px) {
  .about-contact-info svg {
    width: 2rem;
  }
}

@media (min-width: 768px) {
  .about-contact-info svg:hover {
    fill: var(--color-red);
    transform: translateY(-2px);
  }
}

.swiper {
  width: 100%;
  margin: 0 auto 4rem;
  border-radius: 1%;
}

@media (min-width: 768px) {
  .swiper {
    display: none;
  }
}

.swiper-slide {
  cursor: grab;
}

.swiper-slide img {
  display: block;
  margin: auto;
  width: 100%;
  border-radius: 1%;
}

.swiper .swiper-pagination-bullet {
  background: var(--color-grey);
  opacity: 0.5;
}

.swiper .swiper-pagination-bullet.swiper-pagination-bullet-active {
  background: var(--color-white);
  opacity: 1;
}

.swiper p {
  margin-top: 0.5rem;
  margin-bottom: 2rem;
  font-family: 'IBM Plex Sans KR', sans-serif;
  font-size: var(--extraSmall);
  color: var(--color-white);
}

.about-images-container {
  display: none;
}

@media (min-width: 768px) {
  .about-images-container {
    display: block;
    margin: 0 auto 4rem;
  }
}

@media (min-width: 768px) {
  .about-images {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 1rem;
  }
}

.about-images img {
  margin: auto;
  min-width: 100%;
  width: 100%;
  border-radius: 1%;
}

@media (min-width: 768px) {
  .about-images-container p {
    margin-top: 0.5rem;
    font-family: 'IBM Plex Sans KR', sans-serif;
    font-size: var(--extraSmall);
    color: var(--color-white);
  }
}

.about-services {
  text-align: center;
}

.about-services h3 {
  text-decoration: underline;
}

.about-services ul {
  padding: 0;
}

.about-services li {
  font-size: var(--extraSmall);
  color: var(--color-grey);
}

/***********************
      Rentals Page 
************************/

/* Hero Section */

[data-page='rentals'] .hero {
  margin-bottom: 16rem;
  background-image: url('../assets/images/msg-test-pattern.webp');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

[data-page='rentals'] .hero-info h1 {
  margin: auto;
  font-family: var(--font-supervoid);
  font-size: clamp(var(--large), 10vw + 1rem, var(--titleLarge));
  text-transform: uppercase;
  letter-spacing: normal;
}

[data-page='rentals'] .shadow {
  position: absolute;
  left: 50%;
  bottom: 0;
  width: 100%;
  height: 23.5%;
  background: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 1));
  transform: translate(-50%, 0);
}

/* Description */

.rentals-description .general,
.rentals-description .philosophy {
  margin-left: auto;
  margin-right: auto;
  width: 95%;
  margin-bottom: 16rem;
}

.rentals-description .general {
  max-width: 700px;
  text-align: center;
}

.rentals-description .general p {
  margin-bottom: 1rem;
  font-size: var(--small);
  text-transform: none;
  text-align: center;
}

@media (min-width: 768px) {
  .rentals-description .general p {
    font-size: var(--medium);
  }
}

.rentals-description .general svg {
  transform: rotate(-90deg);
}

.philosophy {
  max-width: 900px;
}

.philosophy img {
  width: 100%;
  border-radius: 1%;
}

.philosophy figcaption {
  margin-bottom: 1.5rem;
  font-size: var(--extraSmall);
  text-align: center;
  color: var(--color-grey);
}

@media (min-width: 768px) {
  .philosophy figcaption {
    margin-bottom: 2rem;
  }
}

.philosophy p {
  max-width: 800px;
  margin-left: auto;
  margin-right: auto;
  font-size: var(--small);
  text-transform: none;
  text-align: center;
}

@media (min-width: 768px) {
  .philosophy p {
    font-size: var(--small);
  }
}

/* Server Specs */

.server-specs {
  margin-left: auto;
  margin-right: auto;
  width: 95%;
  max-width: 1100px;
}

.server-specs h2 {
  max-width: 420px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 4rem;
  padding: 0;
}

@media (min-width: 768px) {
  .server-specs h2 {
    max-width: 650px;
    margin-bottom: 5rem;
  }
}

.card-container {
  display: grid;
  justify-content: center;
  grid-template-columns: repeat(auto-fill, minmax(auto, 300px));
  gap: 4rem;
  margin-bottom: 16rem;
}

.card {
  position: relative;
  background-color: var(--color-black);
  border: 4px solid var(--color-white);
  transition: all 0.6s ease;
}

.card::after {
  content: '';
  display: block;
  width: 100%;
  height: 100%;
  position: absolute;
  top: -20px;
  left: 10px;
  z-index: -1;
  transition: all 0.6s ease;
}

.card.active::after {
  top: 0;
  left: 0;
  opacity: 0;
}

@media (min-width: 768px) {
  .card:hover::after {
    top: 0;
    left: 0;
    opacity: 0;
  }
}

.col-1 .card:nth-of-type(1),
.col-3 .card:nth-of-type(1) {
  margin-bottom: 4rem;
}

.col-1 .card.active {
  border: 4px solid var(--color-purple);
  box-shadow: 0 0 20px var(--color-purple);
}

@media (min-width: 768px) {
  .col-1 .card:hover {
    border: 4px solid var(--color-purple);
    box-shadow: 0 0 20px var(--color-purple);
  }
}

.col-2 .card.active {
  border: 4px solid var(--color-red);
  box-shadow: 0 0 20px var(--color-red);
}

@media (min-width: 768px) {
  .col-2 .card:hover {
    border: 4px solid var(--color-red);
    box-shadow: 0 0 20px var(--color-red);
  }
}

.col-3 .card.active {
  border: 4px solid var(--color-green);
  box-shadow: 0 0 20px var(--color-green);
}

@media (min-width: 768px) {
  .col-3 .card:hover {
    border: 4px solid var(--color-green);
    box-shadow: 0 0 20px var(--color-green);
  }
}

.col-1 .card::after {
  border: 4px solid var(--color-purple);
}

.col-2 .card::after {
  border: 4px solid var(--color-red);
}

.col-3 .card::after {
  border: 4px solid var(--color-green);
}

.card p {
  padding: 1.5rem;
  font-size: var(--small);
  cursor: default;
}

.card-container .card p {
  text-transform: none;
}

.pricing {
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 16rem;
}

@media (min-width: 768px) {
  .pricing {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    justify-content: space-between;
    align-items: center;
    gap: 8.5%;
  }
}

.pricing img,
.pricing p {
  width: 100%;
}

.pricing img {
  margin-bottom: 1.5rem;
  border-radius: 1%;
}

@media (min-width: 768px) {
  .pricing img {
    margin-bottom: 0;
  }
}

.pricing p {
  font-size: var(--small);
  text-transform: none;
  text-align: center;
}

@media (min-width: 768px) {
  .pricing p {
    text-align: left;
  }
}

@media (min-width: 768px) {
  .pricing p::before {
    content: '';
    display: block;
    width: 50px;
    height: 2px;
    margin-bottom: 1rem;
    background-color: var(--color-white);
  }
}

/* Rentals Footer */

.rentals-footer {
  width: 95%;
  max-width: 1100px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 10rem;
}

.rentals-footer .supervoid-cta {
  display: block;
  max-width: 12rem;
  height: initial;
  margin-bottom: 2rem;
  padding: 1rem;
  text-align: center;
}

[data-page='rentals'] .swiper-wrapper {
  margin-bottom: 3rem;
}

.rentals-footer-gallery {
  display: none;
}

@media (min-width: 768px) {
  .rentals-footer-gallery {
    display: flex;
    justify-content: space-between;
    gap: 2rem;
  }
}

.rentals-footer-gallery img {
  width: 30%;
  border-radius: 1%;
}
